<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/market.css">-->
    <link rel="icon" type="image/x-icon" href="../images/spartan-logo.png">
    <link rel="stylesheet" href="../css/aboutus.css">
</head>
<body>
<div th:include="template_header_footer.html::header"></div>


<section class="top">
    <img src="../images/sky.png" id="sky">
    <img src="../images/cloud.png" id="cloud">
    <img src="../images/hill_03.png" id="mountains_behind">
    <img src="../images/hill_02.png" id="mountains_02">
    <img src="../images/hill_01.png" id="mountains_03">
    <img src="../images/tree.png" id="tree">
    <h2 id="texto">Admin</h2>
    <a href="/api/Admin/productsadmin" id="boton1">Productos</a>
    <a href="/api/Admin/membershipsadmin" id="boton2">Suscripciones</a>
    <a href="/api/Admin/combatclassesadmin" id="boton3">Clases</a>
    <a href="/api/Admin/usersadmin" id="boton4">Usuarios</a>

    <img src="../images/city.png" id="city">
</section>
<div th:include="template_header_footer.html::footer"></div>

<script src="../js/aboutus.js"></script>
</body>
</html>