<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Seccion de Noticias de Ciberseguridad</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="team" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- MAIN CSS -->
  <link rel="icon" type="image/x-icon" href="../images/infinitumwardens.png">
  <link rel="stylesheet" href="../css/ciberseguridad.css">
</head>
<body>
<!-- Sección Inicio -->
<header>
  <a href="#" class="logo">Infinitum Wardens</a>
  <ul>
    <li> <a href="/" >Inicio</a> </li>
    <li> <a href="/ciber" class="active">Ciberseguridad</a> </li>
    <li> <a href="/is">Ingenieria Software</a> </li>
    <li> <a href="/addNoticia">Añadir Noticia</a> </li>
    {{#noUser}}
    <li> <a href="/login">Login</a> </li>
    {{/noUser}}
    {{#user}}
    <li><a href="/private">Perfil</a></li>
    {{/user}}
  </ul>
</header>
<section class="top">
  <img src="../images/stars.png" id="estrellas">
  <img src="../images/infinitumwardens.png" id="luna">
  <img src="../images/mountains_behind.png" id="mountains_behind">
  <h2 id="texto" style="font-size: 5rem">Ciberseguridad</h2>
  <a href="#sec" id="boton">Grupo 8</a>
  <img src="../images/mountains_front.png" id="mountains_front">
</section>
<div class="sec" id="sec">
  <h2>Noticias de Ciberseguridad</h2>
  <p> En esta sección encontrarás las diferentes noticias sobre las herramientas de ciberseguridad añadidas a la página</p>
</div>
<!-- Seccion Equipo -->
<section class="noticia">
<div class="container">

    {{#noticiasCiber}}
  <div class="card">
      <div class="contenido">
        <h2 class="display-4">{{titular}}</h2>
        <p class="lead">{{descripcion}}</p>
        <a href="/ciber/{{id}}">Más Información</a>
    </div>
  </div>
    {{/noticiasCiber}}

</div>
</section>
<!--Pie de página-->
<footer class="pie">
  <div class="pie2">
    <img class="footer-logo" src="../images/infinitumwardens.png" alt="logo de IW">
    <p class="footer-texto">El software de hoy,<br> el futuro de mañana.</p>
  </div>
  <div class="derechos-de-autor">Creado por Infinitum Wardens ©</div>
</footer>

<!-- Scripts -->
<script src="/js/AboutUs.js" defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vanilla-tilt.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: true,
    "max-glare": 1,
  });
</script>
</body>
</html>