<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is SpartanWrath</title>
</head>
<body>
    <div>
        <h1>SPARTAN WRATH GYM</h1>
        <!-- IMAGEN GYM/ESPARTANO-->
        <div>
            <a><button>Date de alta</button></a>
            <a><button>Que ofrecemos</button></a>
            <a><button>Horario</button></a>
        </div>
        <div>
            <a><button>Contacto y Ayuda</button></a>
            <a><button>Encuentranos</button></a>
        </div>
    </div>
    <div>
        <section>
            <h1>DATE DE ALTA</h1>
        </section>
        <section>
            <h1>OFRECEMOS</h1>
                <div>
                    <h3>ZONA DE MUSCULACIÓN</h3>
                    <h4>Monitores:</h4>
                    <p>Marta Diaz/Crossfit</p>
                    <p>Francopola7/Fuerza</p>
                    <p>Joan Pradells/Hipertrofia</p>
                </div>
            <div>
                <h3>Clases Jiu Jitsu Brasileño</h3>
                <h4>Profesor: Leo Climent</h4>
            </div>
            <div>
                <h3>Clases Boxeo</h3>
                <h4>Profesor:Omar Montes</h4>
            </div>
            <div>
                <h3>Clases Muai Thai</h3>
                <h4>Profesor: David Evil Escorpión</h4>
            </div>
            <div>
                <h3>Clases Karate</h3>
                <h4>Profesor: Señor Miyagi</h4>
            </div>

        </section>
        <section>
            <h1>HORARIOS</h1>
        </section>
        <section>
            <h1>ENCUENTRANOS</h1>
        </section>
        <section>
            <h1>CONTACTO Y AYUDA</h1>
        </section>
    </div>
</body>
</html>