<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>SpartanWrath</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- MAIN CSS -->
    <link rel="icon" type="image/x-icon" href="../images/spartan-logo.png">
    <link rel="stylesheet" href="../css/aboutus.css">
</head>
<body>
<!-- Sección Inicio -->
<header>
    <a href="#" class="logo">Spartan´s Wrath</a>
    <ul>
        <li> <a href="/ciber">Ciberseguridad</a> </li>
        <li> <a href="/market">Tienda</a> </li>
        <li> <a href="/AboutUs">About Us</a> </li>
        {{#noUser}}
        <li> <a href="/login">Login</a> </li>
        {{/noUser}}
        {{#user}}
        <li><a href="/private">Perfil</a></li>
        {{/user}}
    </ul>
</header>
<section class="top">
    <img src="../images/sky.png" id="estrellas">
    <img src="../images/cloud.png" id="luna">
    <img src="../images/hill_03.png" id="mountains_behind">
    <img src="../images/hill_02.png" id="mountains_02">
    <img src="../images/hill_01.png" id="mountains_03">
    <img src="../images/tree.png" id="tree">
    <h2 id="texto" style="right: -607px;z-index: 7">Become a Spartan</h2>
    <!--<a href="#sec" id="boton">DWS</a>-->
    <img src="../images/city.png" id="mountains_front">
</section>
<div class="sec" id="sec">
    <h2>Bienvenido a Spartans Wrath</h2>
    <h3>

        <p>En InfinitumWardens, estamos dedicados a la excelencia en ciberseguridad y en el emocionante mundo de la ingenierí
            a del software. Somos más que un proyecto; somos un equipo apasionado que fusiona conocimientos técnicos avanzad
            os con una visión innovadora.</p>
        <p>
            Explora nuestro universo, donde la ingeniería del software se entrelaza con la seguridad digital. Desde la concepción
            de ideas hasta la implementación de soluciones robustas, trabajamos incansablemente para mantener la integridad
            y la confidencialidad en el corazón de cada línea de código.</p>
        <p>
            Únete a nosotros mientras construimos el futuro de la ingeniería del software y ciberseguridad. En InfinitumWardens,
            estamos comprometidos a liderar el camino hacia un mundo digital más seguro y avanzado. ¡Explora, aprende y
            únete a nuestra misión hoy mismo!</p>
        <p>
            Recordamos que es una beta y que no está abierta al público.</p>
        <!--<p><a href="/private">Pagina de usuario</a>
            {{#admin}}
        <li>
            <a href="/admin">Admin page</a>
        </li>
        {{/admin}}</p>-->
    </h3>
</div>
<!--Pie de página-->
<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="../images/spartan-logo.png" alt="logo de SW">
        <p class="footer-texto">Respice post te!<br> Hominem te esse memento.</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo L ©</div>
    <!--<a href="register.html">Register</a>-->
</footer>
<!-- Scripts -->
<script src="/js/AboutUs.js" defer></script>
</body>
</html>