<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spartan Market</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/market.css">
  <link rel="stylesheet" href="../css/aboutus.css">
</head>
<body>
  <div th:include="template_header_footer.html::header"></div>
<!--<header>
  <h1>Tienda de Suplementos de Gimnasio</h1>
  <div id="cart-icon" onclick="showCart()">🛒 <span id="cart-count">0</span></div>
  <div id="cart" class="hide">
    <h2>Cesta de la compra</h2>
    <ul id="cart-items"></ul>
  </div>
</header>
<nav>
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Productos</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</nav>-->
  <div class="container">
    <div class="product" onclick="addToCart('Casco', 10.00)">
      <img src="../images/casco.jpeg" alt="Casco">
      <h3>Producto 1</h3>
      <div class="details">
        <p>Descripción del producto 1.</p>
        <p>Precio: 10.00$</p>
    </div>
    </div>
    <div class="product" onclick="addToCart('Espinilleras', 12.50)">
      <img src="../images/espinilleras.jpg" alt="Espinilleras">
      <h3>Producto 2</h3>
      <div class="details">
        <p>Descripción del producto 1.</p>
        <p>Precio: $12.50</p>
    </div>
   </div>
    <div class="product" onclick="addToCart('Guantes', 50.00)">
      <img src="../images/guantes.png" alt="Guantes">
      <h3>Producto 3</h3>
      <div class="details">
        <p>Descripción del producto 1.</p>
        <p>Precio: $50.00</p>
      </div>
    </div>
    <div class="product" onclick="addToCart('Vendas', 5.00)">
      <img src="../images/vendas.jpg" alt="Vendas">
      <h3>Producto 4</h3>
      <div class="details">
        <p>Descripción del producto 1.</p>
        <p>Precio: $50.00</p>
      </div>
    </div>
    <div class="product" onclick="addToCart('Bucal', 3.00)">
      <img src="../images/bucal.jpg" alt="Bucal">
      <h3>Producto 4</h3>
      <div class="details">
        <p>Descripción del producto 1.</p>
        <p>Precio: $3.00</p>
      </div>
    </div>
    <div class="product" onclick="addToCart('Proteina en polvo', 25.00)">
      <img src="../images/proteinas.jpg" alt="Proteina en polvo">
      <h3>Producto 4</h3>
      <div class="details">
        <p>Descripción del producto 1.</p>
        <p>Precio: $25.00</p>
      </div>
    </div>
  <!-- Agregar más productos aquí -->
</div>
<div th:include="template_header_footer.html::footer"></div>

<script src="../js/market.js"></script>
</body>
</html>

