<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Admin Private</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- MAIN CSS -->
    <link rel="icon" type="image/x-icon" href="../images/infinitumwardens.png">
    <link rel="stylesheet" href="../css/private.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
<header>
    <a href="#" class="logo">Infinitum Wardens</a>
    <ul>
        <li> <a href="/">Inicio</a> </li>
        <li> <a href="/ciber">Ciberseguridad</a> </li>
        <li> <a href="/is">Ingenieria Software</a> </li>
        <li> <a href="/private">Perfil</a> </li>


    </ul>
</header>
<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="../images/undertakerelpro.png" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
            </div>
            <!--<button type="button" class="boton-portada">
                <i class="far fa-image"></i>--> <form action="/logout" method="post" >
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <input class="submit-btn" type="submit" value="Sign Out"/>
            </form>
            <!--</button>-->
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h2 class="titulo">Hola {{username}}</h2>

            {{#admin}}
            <div class="logout">
                <a href="/admin">Admin page</a>
            </div>
            {{/admin}}


        </div>

    </div>
</section>
<!--Pie de página-->
<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="../images/infinitumwardens.png" alt="logo de IW">
        <p class="footer-texto">El software de hoy,<br> el futuro de mañana.</p>
    </div>
    <div class="derechos-de-autor">Creado por Infinitum Wardens ©</div>
</footer>
</body>
</html>