<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="../images/spartan-logo.png">
    <link rel="stylesheet" href="../css/aboutus.css">
</head>
<body>
<header>
    <a href="/" class="logo">Spartan Wrath</a>
    <ul>
        <li> <a href="/" >Inicio</a> </li>
        <!--<li><a href="/private">Perfil</a></li>-->
    </ul>
</header>
<section class="top">
    <img src="../images/sky.png" id="sky">
    <img src="../images/cloud.png" id="cloud">
    <img src="../images/hill_03.png" id="mountains_behind">
    <img src="../images/hill_02.png" id="mountains_02">
    <img src="../images/hill_01.png" id="mountains_03">
    <img src="../images/tree.png" id="tree">
    <h2 id="texto">SUCCESS</h2>
    <img src="../images/city.png" id="city">
</section>
    <h1>SUCCESS</h1>
<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="../images/spartan-logo.png" alt="logo de SW">
        <p class="footer-texto">Respice post te!<br> Hominem te esse memento.</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo L ©</div>
    <!--<a href="register.html">Register</a>-->
</footer>
<!-- Scripts -->
<script src="/js/AboutUs.js" defer></script>
</body>
</html>